body {
    font-family: 'Open Sans', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}

.text-primary {
    color: #FD6E0A;
    ;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul>li {
    margin-right: 50px;
    list-style: none;
}

ul li a {
    color: #474747;
    text-decoration: none;
}

.btn-primary {
    background-color: #FD6E0A;
    border: 0;
    padding: 12px 25px;
    font-size: 15px;
    font-weight: 700;
    color: white;
}

.header {
    background-color: #FFF8F3;
    background-image: url("../images/header_bg.png") ,url("../images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom right, top left;
}

.banner-content {
    max-width: 500px;
}

.banner {
    padding: 30px 30px 0px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner .profile-pic {
    width: 480px;
}

.banner-greeting {
    color: #474747;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 0;

}

.banner-title {
    color: #181818;
    font-size: 70px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-des {
    color: #757575;
    font-size: 18px;
    font-weight: 400;

}

/*main section styles*/
main {
    max-width: 1140px;
    margin: 0 auto;
}

main section {
    margin-top: 130px;
}

.about {
    border-radius: 10px;
    background: #FFF8F3;
    padding: 130px;
    margin: 30px 0;
}

.sec-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.sec-des {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
}

/* skill releted styles */
#what-i-do {
    padding: 30px 150px;
}

.skills-container {
    display: flex;
    gap: 24px;
}

.skill {
    border-radius: 5px;
    background: #FFF;
    padding: 30px;
    box-shadow: 0px 6px 50px 0px;
    color: #757575;
}

/* resume section styles */
.resume-container {
    display: flex;
    gap: 20px;
}

.resume-description,
.resume-item-institute {
    color: #757575;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.resume-item-title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
}

.resume-colum-title {
    color: #474747;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
}

.download-cv {
    text-align: center;
    margin-top: 30px;
}

/* footer section style */
footer {
    display: flex;
    gap: 100px;
    background-color: #FFF8F3;
    padding: 130px 250px;
    margin-top: 50px;
}

.footer-title {
    color: #181818;
    text-align: left;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
}

.footer-description {
    color:#474747;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 25px;
}
.footer-column{
    width: 50%;
}
.contact input[type = "text"], .contact input[type="email"], textarea{
    display: block;
    margin-bottom: 25px;
    padding: 16px 20px;
    border: 0;
    width: 100%;
}
.social-links a{
    margin-right: 24px;
    
}